<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>gplusAddtionalPermissions</param-name>
    <param-value>https://www.googleapis.com/auth/userinfo.email,https://www.googleapis.com/auth/userinfo.profile</param-value>
  </context-param> 
  <context-param>
    <param-name>googlePlusClientId</param-name>
    <param-value>237485577723.apps.googleusercontent.com</param-value>
  </context-param>    
  <context-param>
    <param-name>googlePlusClientSecret</param-name>
    <param-value>7Vv033XGtPB8Bg2stdMMUxPh</param-value>
  </context-param>  
  <context-param>
    <param-name>instagramAddtionalPermissions</param-name>
    <param-value>basic+likes+comments</param-value>
  </context-param> 
  <context-param>
    <param-name>instagramClientId</param-name>
    <param-value>9ca85900a48649a38684f77a9fb0fb76</param-value>
  </context-param>    
  <context-param>
    <param-name>instagramClientSecret</param-name>
    <param-value>deb6b101db5b4af8b42b67e57a900e6a</param-value>
  </context-param>  
  <context-param>
    <param-name>fbAdditionalPermissions</param-name>
    <param-value>email,user_location,user_hometown,user_relationship_details,user_relationships,user_birthday</param-value>
  </context-param>
  <context-param>
    <param-name>facebookAppId</param-name>
    <param-value>384323531651193</param-value>
  </context-param>  
  <context-param>
    <param-name>facebookAppSecret</param-name>
    <param-value>fee7adfe8eaa83e822d768064f3aa3eb</param-value>
  </context-param>
  <context-param>
    <param-name>twitterConsumerKey</param-name>
    <param-value>i2FsYuQ4He5X67Flwm7YRQ</param-value>
  </context-param>
  <context-param>
    <param-name>twitterConsumerSecret</param-name>
    <param-value>sXWRF8tRVdYeOojKGl1YlRpWeYzCkhz72bmPLNjWs</param-value>
  </context-param>     
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.gylogin.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>gpluslogin</servlet-name>
    <servlet-class>com.plus.google.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gpluscallback</servlet-name>
    <servlet-class>com.plus.google.CallbackServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>instalogin</servlet-name>
    <servlet-class>com.instalogin.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>instacallback</servlet-name>
    <servlet-class>com.instalogin.CallbackServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>twlogin</servlet-name>
    <servlet-class>com.tweet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>twcallback</servlet-name>
    <servlet-class>com.tweet.login.CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twlogin</servlet-name>
    <url-pattern>/twlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>twcallback</servlet-name>
    <url-pattern>/twcallback</url-pattern>
  </servlet-mapping>      
  <servlet>
    <servlet-name>gylogin</servlet-name>
    <servlet-class>com.gylogin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gylogin</servlet-name>
    <url-pattern>/gylogin</url-pattern>
  </servlet-mapping>    
  <servlet>
    <servlet-name>fblogin</servlet-name>
    <servlet-class>com.fblogin.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fbcallback</servlet-name>
    <servlet-class>com.fblogin.CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fblogin</servlet-name>
    <url-pattern>/fblogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fbcallback</servlet-name>
    <url-pattern>/fbcallback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>instalogin</servlet-name>
    <url-pattern>/instalogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>instacallback</servlet-name>
    <url-pattern>/instacallback</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>gpluslogin</servlet-name>
    <url-pattern>/gpluslogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gpluscallback</servlet-name>
    <url-pattern>/gpluscallback</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.common.logout.LogoutServlet</servlet-class>
  </servlet>    
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>  
</web-app>